@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null && Model.Any())
{<ul>
    @foreach (var p in Model)
    {
        <li>
            @*Indicamos que queremos ir a otro controller por medio de asp-controller , se puede 
                también indicar el área*@
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@p.ProductId">
                @p.ProductName <strong>(+)</strong>
            </a>
        </li>
    }
    </ul>

}
